{% extends 'base.html' %}

{% block styles_page %}
  <link rel="stylesheet" href="/static/css/auth/reset_password.css" />
{% endblock %}
{% block content %}
  <main>
    <section>
      <div class="container vertical-center">
        <div class="card shadow-sm form-container" style="width: 100%; max-width: 400px;">
          <div class="card-body">
            <h1 class="card-title text-center">Reset Password</h1>
            {% if message %}
              <div class="alert alert-info my-4" role="alert">{{ message }}</div>
            {% endif %}
            <form method="post" action="/reset-password">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
              </div>
              <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block scripts %}

{% endblock %}
