<div id="post-form-wrapper" class="post-form-wrapper" {% if post %} hidden {% endif %}>
  <h2 id="title-form" class="mb-4">{% if post %}Edit post{%else%}Add new post{% endif %}</h2>

  <form id="form-post" onsubmit="formCreatePostHandler(event)" {% if post %} edit {% endif %} enctype="multipart/form-data">
    <div class="mb-3">
      {% if post %}
        <img src="{{ post.photo_url }}" alt="Uploaded Image" style="max-width: 300px;" /><br /><br />
      {% endif %}
      <label for="photo" class="form-label">Photo</label>
      <input type="file" class="form-control" id="photo" name="photo" accept="image/*" {% if not post %}required{% endif %} />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="4" required= autofocus>{% if post %}{{ post.description }}{% endif %}</textarea>
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">Tags (separated by commas)</label>
      <input type="text"
        class="form-control"
        id="tags"
        name="tags"
        value="{% if post %}{{ post.tags|join(', ') }}{% endif %}" />
    </div>
    <button id="btn-new-post" type="submit" class="btn btn-primary" {% if post %} hidden {% endif %}>Add</button>
    <button id="btn-edit-post" type="submit" class="btn btn-primary" {% if not post %} hidden {% endif %}>Save</button>
  </form>

</div>
