<div id="post-form-wrapper" hidden="true">
  <h2 id="title-new-post-form">Add new post</h2>
  <h2 id="title-edit-post-form">Edit post</h2>
  <form id="form-post" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      {% if post.photo_url %}
        <img src="{{ post.photo_url }}" alt="Uploaded Image" style="max-width: 300px;" /><br /><br />
      {% endif %}
      <label for="photo" class="form-label">Фото</label>
      <input type="file" class="form-control" id="photo" name="photo" accept="image/*" required />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Описание</label>
      <textarea class="form-control" id="description" name="description" rows="4" required autofocus>{{ post.description }}</textarea>
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">Теги (через запятую)</label>
      <input type="text" class="form-control" id="tags" name="tags" value="{{ post.tags|join(', ') }}" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить пост</button>
  </form>
</div>
