{% block header %}
  <header class="bg-light mb-4">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ request.url_for('home_page') }}"><img src="/static/images/logo.svg" alt="Logo" width="30" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"  
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a aria-current="page" onclick="event.preventDefault(); loadProtectedPage('{{ request.url_for('home_page') }}')" 
                {% if request.url == url_for('home_page') %}
                  class="nav-link active" 
                {% else %} 
                  class="nav-link"
                {% endif %} >
              Home</a>
            </li>
              <li class="nav-item ">
                <a {% if request.url ==  url_for('posts_page') %} class="nav-link active" {% else %} class="nav-link" {% endif %} 
                onclick="event.preventDefault(); loadProtectedPage('{{ request.url_for('posts_page') }}')">All posts</a>
              </li>
              <li class="nav-my-post nav-item d-none">
                <a {% if request.url ==  url_for('my_posts_page') %} class="nav-link active" {% else %} class=" nav-link" {% endif %} 
                onclick="event.preventDefault(); loadProtectedPage('{{ request.url_for('my_posts_page') }}')">My posts</a>
              </li>
              <li class="nav-add-post nav-item d-none">
                <a class=" nav-link" onclick="event.preventDefault(); loadProtectedPage('{{ request.url_for('post_create_form_page') }}')">Add post</a>
              </li>
          </ul>
          <ul class="auth-nav navbar-nav ms-auto mb-2 mb-lg-0 d-none">
            <li class="nav-signin nav-item">
              <a class="nav-link" href="{{ request.url_for('signin_form_page') }}">Login</a>
            </li>
            <li class="nav-signup nav-item">
              <a class="nav-link" href="{{ request.url_for('signup_form_page') }}">Register</a>
            </li>
            <li class="nav-logout nav-item d-none">
              <span class="nav-logout-link nav-link" onclick="event.preventDefault(); logoutMySite()">Logout</span>
            </li>
            <li class="nav-avatar nav-item ms-4">
              <img src="{{ user.avatar or "/static/images/avatar.svg" }}" alt="Avatar" class=" card-user-avatar rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 15px;" />
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}
