{% extends 'base.html' %}

{% block styles_page %}
  <link rel="stylesheet" href="/static/css/posts.css" />
{% endblock %}
{% block content %}
  <main>
    <section>
      <div class="container-xxl">
        <div class="container-xxl mt-5">
          <h1>Posts List</h1>
          {% if message %}
            <div class="messages my-4">
              <span class="text-primary">{{ message.json().detail }}</span>
            </div>
          {% endif %}
          {% if posts %}
            {% for post in posts %}
              {% include 'partials/post_card.html' %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
