{% extends 'base.html' %}

{% block styles_page %}
  <link rel="stylesheet" href="/static/css/partials/post_id.css" />
  <link rel="stylesheet" href="/static/css/partials/post_detail_add_comments.css" />
{% endblock %}
{% block content %}
  <main>
    <section>
      <div class="container-xxl">
        <div class="container-xxl mt-5">
          user: {{ user.id }}
          post.user_id: {{ post.user_id }}
          {% include 'partials/post_service_btn.html' %}
          {% if user.id == post.user_id %}

          {% endif %}
          {# <h1>Post detail</h1> #}
          {% if message %}
            <div class="messages my-4">
              <span class="text-primary">{{ message.detail }}</span>
            </div>
          {% endif %}
          {% if post %}
            {% include 'partials/post_detail.html' %}
            {% include 'partials/post_detail_add_comments.html' %}
            {% include 'partials/post_detail_comments.html' %}
            {% include 'partials/post_create_form.html' %}
          {% endif %}
        </div>
      </div>
    </section>
    <script>
      const redirect_url = "{{ url_for('home_page')}}"
      const api_login = "{{ url_for('auth_signin') }}"
    </script>
  </main>
  <script>
    const isPost =  {% if post %} true {% else %} false {% endif %} ||  false
    console.log('isPost: ', isPost)
    const postUserId = Number('{{ post.user_id }}')
    const editBtnRef = document.querySelector('#btn-edit-post')
    console.log('postUserId: ', postUserId, typeof postUserId)
    
    const postDetailsRef = document.querySelector('#post-details')
    const postCommentsRef = document.querySelector('.comments-section')
    const postFormWrapRef = document.querySelector('#post-form-wrapper')
    const postNewCommentsRef = document.querySelector('.post-new-comments')
    
    
    userId = Number(localStorage.getItem('user_id'))
    
    if (userId === postUserId) {
      console.log('equal')
      editBtnRef.removeAttribute('hidden')
    }
    
    console.log(editBtnRef)
    
    const editTogglePage = (e) => {
      console.log(postFormWrapRef)
      if (postFormWrapRef.hasAttribute('hidden')) {
        postFormWrapRef.removeAttribute('hidden')
        editBtnRef.textContent = 'Cancel'
        postDetailsRef.setAttribute('hidden', true)
        postCommentsRef.setAttribute('hidden', true)
        postNewCommentsRef.setAttribute('hidden', true)
      } else {
        editBtnRef.textContent = 'Edit'
        postFormWrapRef.setAttribute('hidden', true)
        postDetailsRef.removeAttribute('hidden')
        postCommentsRef.removeAttribute('hidden')
        postNewCommentsRef.removeAttribute('hidden')
      }
    }

  editBtnRef.addEventListener('click', editTogglePage)
  </script>
  <script>
    const toggleFormButton = document.getElementById('toggle-form');
    const commentFormRef = document.getElementById('comment-form');
    const addCommentBtnRef = document.getElementById('comment-add-btn');

    toggleFormButton.addEventListener('click', function() {
      commentFormRef.classList.toggle("hidden");
      postNewCommentsRef.classList.toggle("shadow-lg");
    }
    
    function  addCommentHandler (e) {
      e.preventDefault();  
      const postId = Number(commentFormRef.getAttribute('data-post-id'));
      form_data = new FormData(e.target);

      try {
        headers = getBaseHeaders()

        response = await 
      }catch (error) {
        console.log(error)
      }

      /*addCommentBtnRef.addEventListener('click', e  => {
      const postId = Number(commentFormRef.getAttribute('data-post-id'));
      e.
      
      console.log("postId: ", postId) 

    })*/
  });
  </script>

  <script>
    //script for add/edit post
    const postId = Number({{post.id}})
    const formRef = document.querySelector('#form-post');
    //console.log("formRef: ", formRef)

    //document.querySelector('form').onsubmit = async e => {
    formRef.onsubmit = async e => {
        e.preventDefault();
        console.log("!!!!!! ")
        console.log("e: ",e)
        
        const token = await localStorage.getItem('access_token');
        if (token) {
          const headers = new Headers();
          headers.append('Authorization', `Bearer ${token}`);
          const formData = new FormData(e.target);
          for (let [name, value] of formData.entries()) {
              console.log(`${name}: ${value}`);
          }

          let to_path = ""
          let method_rest = "" 
          if (e.target.hasAttribute('edit')) {
            to_path = `/posts/${postId}`
            console.log("to_path: ", to_path)
            method_rest = "PUT"
          }else{
            to_path = "/post"
            console.log("to_path: ", to_path)
            method_rest = "POST"
          }

          try {
              const res = await fetch(to_path, {
                  method: method_rest,
                  body: formData,
                  headers: headers
              });
              const response_json = await res.json()
              if (res.ok) {
                  console.log("OK")
                  console.log("redirect_url: ", redirect_url)
                  red_url = redirect_url + "posts/" + response_json.id
                  console.log("red_url=", red_url)
                  window.location.href = red_url;
              }
              else {
                  console.log("Error")
                  console.log(res)
                  formMessagesRef.textContent = res.status + ": " + res.statusText
              }


            }
            catch (error) {
                console.log(error)
            }

        }
  
      };
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const transformBtn = document.getElementById('transform-btn');
      const hiddenButtons = document.getElementById('hidden-buttons');
      console.log(`transformBtn: `, transformBtn)
      transformBtn.addEventListener('click', function() {
          console.log('transformBtn clicked');
          //hiddenButtons.style.display = hiddenButtons.style.display === 'none' ? 'block' : 'none';
          hiddenButtons.classList.toggle('hidden');
      });

      document.getElementById('sepia-btn').addEventListener('click', function() {
          alert('Sepia effect applied!');
          // Add your sepia effect logic here
      });

      document.getElementById('greyscale-btn').addEventListener('click', function() {
          alert('Greyscale effect applied!');
          // Add your greyscale effect logic here
      });
  });
  </script>
{% endblock %}

{% block scripts %}

{% endblock %}
